// variables
#dimension() {
  mobile-width: 375px;
  desktop-width: 1440px;
}

#colors() {
  primary: hsl(171, 66%, 44%);
  secondary: hsl(233, 100%, 69%);
  dark-gray: hsl(210, 10%, 33%);
  gray: hsl(201, 11%, 66%);
  light-gray: hsl(201, 11%, 90%);
  white: hsl(0, 100%, 100%);
}

// attribution
.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 50%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

// fonts
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

// reset
* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

// mixins
.text-darkgray {
  color: #colors[dark-gray];
}
.text-gray {
  color: #colors[gray];
}
.white {
  color: #colors[white];
}
.bgc-primary {
  background-color: #colors[primary];
}
.bgc-secondary {
  background-color: #colors[secondary];
}
.based-font {
  font-family: "Bai Jamjuree";
  font-weight: 400;
}
.button {
  .white();
  .based-font();
  padding: 15px 25px;
  border-radius: 30px;
  border: 0;
  &:hover {
    cursor: pointer;
  }
}
.title {
  .text-darkgray();
  font-weight: 600;
}

// components
.title-h1 {
  .title();
  font-size: 40px;
}
.title-h2 {
  .title();
  font-size: 26px;
}
.title-h3 {
  .title();
  font-size: 20px;
}
.btn-primary {
  .button();
  .bgc-primary();
  font-weight: 600;
}
.btn-secondary {
  .button();
  .bgc-secondary();
  font-weight: 600;
}
.buttons-group {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

// container
body {
  max-width: #dimension[desktop-width];
  margin: auto;
  font-size: 18px;
  .based-font();
  .text-gray();
}

// header
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  background-image: url("images/bg-header-desktop.png");
  background-repeat: no-repeat;
  padding-top: 125px;
  .header__logo {
    width: 100px;
  }
  .header__content {
    text-align: center;
    .header__title {
      margin-bottom: 15px;
    }
  }
}

// main
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

// section
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  .section__header {
    text-align: center;
    margin-bottom: 70px;
    .section__title {
      margin-bottom: 15px;
    }
  }
}

#snippets {
  .section__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    .section__doublegrid__right {
      .vertical__details {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 0px 100px;
        .section__detail {
          max-width: 380px;
          .detail__title {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}

#clipboard {
  .section__description {
    max-width: 700px;
  }
}

#workflow {
  .horizontal__details {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
    .section__detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        height: 30px;
      }
      .detail__title {
        margin-top: 30px;
        margin-bottom: 20px;
      }
      .detail__description {
        max-width: 400px;
        text-align: center;
      }
    }
  }
  .companies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img {
      height: max-content;
    }
  }
}

#download {
  .section__description {
    max-width: 700px;
  }
}
