// variables
@mobile-width: 375px;
@tablet-width: 768px;
@desktop-width: 1440px;

#colors() {
  primary: hsl(171, 66%, 44%);
  secondary: hsl(233, 100%, 69%);
  dark-gray: hsl(210, 10%, 33%);
  gray: hsl(201, 11%, 66%);
  light-gray: hsl(201, 11%, 95%);
  white: hsl(0, 100%, 100%);
}

// attribution
.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  top: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

// fonts
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

// reset
* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

// mixins
.text-darkgray {
  color: #colors[dark-gray];
}
.text-gray {
  color: #colors[gray];
}
.white {
  color: #colors[white];
}
.bgc-primary {
  background-color: #colors[primary];
}
.bgc-secondary {
  background-color: #colors[secondary];
}
.based-font {
  font-family: "Bai Jamjuree";
  font-weight: 400;
}
.button {
  .white();
  .based-font();
  .text-font();
  padding: 15px 25px;
  border-radius: 30px;
  border: 0;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.title {
  .text-darkgray();
  font-weight: 600;
}

// components
.title-h1 {
  .title();
  font-size: 40px;
}
.title-h2 {
  .title();
  font-size: 34px;
}
.title-h3 {
  .title();
  font-size: 20px;
}
.btn-primary {
  .button();
  .bgc-primary();
  font-weight: 600;
}
.btn-secondary {
  .button();
  .bgc-secondary();
  font-weight: 600;
}
.buttons-group {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.text-font {
  font-size: 18px;
  letter-spacing: 0.04rem;
  line-height: 1.7;
}

// container
body {
  max-width: @desktop-width;
  margin: auto;
  .text-font();
  .based-font();
  .text-gray();
}

// header
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  background-image: url("images/bg-header-desktop.png");
  background-repeat: no-repeat;
  padding-top: 125px;
  margin-bottom: 100px;
  .header__logo {
    width: 100px;
  }
  .header__content {
    text-align: center;
    .header__title {
      margin-bottom: 15px;
    }
  }
}

// main
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

// section
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
  .section__header {
    text-align: center;
    margin-bottom: 70px;
    .section__title {
      margin-bottom: 10px;
    }
  }
}

#snippets {
  .section__content {
    display: flex;
    .section__doublegrid__right {
      .vertical__details {
        display: flex;
        gap: 50px;
        .section__detail {
          max-width: 380px;
          .detail__title {
            margin-bottom: 12px;
          }
        }
      }
    }
    @media (min-width: @tablet-width) {
      flex-direction: column;
      align-items: center;
      .vertical__details {
        flex-direction: row;
        margin-top: 50px;
        text-align: center;
      }
    }
    @media (min-width: @desktop-width) {
      flex-direction: row;
      align-items: center;
      .vertical__details {
        flex-direction: column;
        margin: 0px 100px;
        text-align: left;
      }
    }
  }
}

#clipboard {
  .section__description {
    max-width: 700px;
  }
  .section__content {
    img {
      width: 100%;
    }
  }
}

#workflow {
  .horizontal__details {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 150px;
    .section__detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        height: 30px;
      }
      .detail__title {
        margin-top: 30px;
        margin-bottom: 20px;
      }
      .detail__description {
        max-width: 380px;
        text-align: center;
        font-size: 16px;
      }
    }
  }
  .companies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img {
      height: max-content;
    }
  }
}

#download {
  .section__description {
    max-width: 700px;
  }
}

// footer
.footer {
  background-color: #colors[light-gray];
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
  .footer__logo {
    img {
      width: 60px;
    }
  }
  .footer__link {
    &:hover {
      cursor: pointer;
      color: #colors[primary];
    }
  }
  .footer__navigation {
    color: #colors[dark-gray];
  }

  .footer__socialicons {
    height: 25px;
    gap: 20px;
    &:hover {
      cursor: pointer;
    }
  }
  @media (max-width: @mobile-width) {
    .footer__navigation-column {
      display: flex;
      flex-direction: column;
    }
    .footer__navigation-row {
      display: none;
    }
  }
  @media (max-width: @tablet-width) {
    padding: 50px 100px;
    .footer__navigation-column {
      flex-direction: column;
      margin-right: 0;
    }
    .footer__navigation-row {
      display: none;
    }
    .footer__link {
      margin-bottom: 20px;
    }
    .footer__socialicons {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  @media (min-width: @tablet-width) {
    .footer__navigation-column {
      display: none;
    }
    .footer__navigation-row {
      display: flex;
      flex-direction: row;
      gap: 50px;
      margin: 0px 50px;
    }
    .footer__links-group {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .footer__socialicons {
      display: flex;
      flex-direction: row;
    }
  }
  @media (min-width: @desktop-width) {
    .footer__navigation-column {
      display: none;
    }
    .footer__navigation-row {
      display: flex;
      flex-direction: row;
      gap: 100px;
      margin: 0px 20px;
      margin-right: 200px;
    }
    .footer__links-group {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .footer__socialicons {
      display: flex;
      flex-direction: row;
    }
  }
}
