// variables
@mobile-width: 375px;
@tablet-width: 768px;
@desktop-width: 1440px;

#colors() {
  primary: hsl(171, 66%, 44%);
  secondary: hsl(233, 100%, 69%);
  dark-gray: hsl(210, 10%, 33%);
  gray: hsl(201, 11%, 66%);
  light-gray: hsl(201, 11%, 95%);
  white: hsl(0, 100%, 100%);
}

// attribution
.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  top: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

// fonts
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

// reset
* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

// mixins
.text-darkgray {
  color: #colors[dark-gray];
}
.text-gray {
  color: #colors[gray];
}
.white {
  color: #colors[white];
}
.bgc-primary {
  background-color: #colors[primary];
}
.bgc-secondary {
  background-color: #colors[secondary];
}
.based-font {
  font-family: "Bai Jamjuree";
  font-weight: 400;
}
.button {
  .white();
  .based-font();
  .text-font();
  padding: 15px 40px;
  border-radius: 30px;
  border: 0;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.title {
  .text-darkgray();
  font-weight: 600;
}

// components
.title-h1 {
  .title();
  @media (max-width: @mobile-width) {
    font-size: 32px;
  }
  font-size: 44px;
}
.title-h2 {
  .title();
  @media (max-width: @mobile-width) {
    font-size: 28px;
  }
  font-size: 34px;
}
.title-h3 {
  .title();
  font-size: 22px;
}
.btn-primary {
  .bgc-primary();
  font-weight: 600;
}
.btn-secondary {
  .bgc-secondary();
  font-weight: 600;
}
.buttons-group {
  display: flex;
  gap: 20px;
  @media (min-width: @mobile-width) {
    flex-direction: row;
    .button {
      padding: 15px 40px 12px 40px;
    }
  }
  @media (max-width: @mobile-width) {
    flex-direction: column;
    .button {
      padding: 15px 80px 12px 80px;
    }
  }
}
.text-font {
  @media (max-width: @mobile-width) {
    font-size: 16px;
  }
  font-size: 18px;
  //letter-spacing: 0.03rem;
  line-height: 1.7;
}

// container
body {
  max-width: @desktop-width;
  margin: auto;
  .text-font();
  .based-font();
  .text-gray();
}
.header__description,
.section__description {
  font-size: 20px;
}

// header
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  background-image: url("images/bg-header-desktop.png");
  background-repeat: no-repeat;
  padding-top: 125px;
  margin-bottom: 150px;
  .header__logo {
    width: 130px;
  }
  .header__content {
    text-align: center;
    .header__title {
      margin-bottom: 15px;
    }
  }
}

// main
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

// section
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  .section__header {
    text-align: center;
    margin-bottom: 70px;
    .section__title {
      margin-bottom: 10px;
    }
  }
}

#snippets {
  margin-bottom: 160px;
  .section__doublegrid__left {
    img {
      width: 90%;
      margin: auto auto;
    }
  }
  .vertical__details {
    display: flex;
    gap: 50px;
    margin-left: 40px;
    text-align: left;
    .section__detail {
      max-width: 380px;
      .detail__title {
        margin-bottom: 12px;
      }
    }
  }

  @media (min-width: @mobile-width) {
    .section__content {
      display: flex;
      flex-direction: row;
      .section__doublegrid__right {
        .vertical__details {
          display: flex;
          flex-direction: column;
          .detail__description {
            text-align: left;
          }
        }
        text-align: center;
      }
    }
  }
  @media (max-width: @mobile-width) {
    margin: 0px 20px;
    .section__content {
      display: flex;
      flex-direction: column;
      .section__doublegrid__left {
        margin-bottom: 50px;
      }
      .section__doublegrid__right {
        margin-bottom: 150px;
        .vertical__details {
          display: flex;
          flex-direction: column;
          gap: 50px;
          .detail__description {
            text-align: left;
          }
        }
      }
    }
    /*
        margin: 0px 100px;
        text-align: left;
    */

    // @media (min-width: @tablet-width) {
    //   flex-direction: column;
    //   align-items: center;
    //   .vertical__details {
    //     flex-direction: row;
    //     margin-top: 50px;
    //     text-align: center;
    //   }
    // }
    // @media (min-width: @desktop-width) {
    //   flex-direction: row;
    //   align-items: center;
    //   .vertical__details {
    //     flex-direction: column;
    //   }
    // }
  }
}

#clipboard {
  margin-bottom: 100px;
  .section__description {
    @media (max-width: @mobile-width) {
      padding: 20px;
    }
    max-width: 750px;
  }
  .section__content {
    img {
      width: 100%;
    }
  }
}

#workflow {
  margin-bottom: 140px;
  .section__description {
    @media (max-width: @mobile-width) {
      padding: 20px;
    }
  }
  .horizontal__details {
    display: flex;
    @media (max-width: @mobile-width) {
      flex-direction: column;
      .detail__description {
        padding: 30px;
      }
    }
    flex-direction: row;
    gap: 30px;
    margin-bottom: 170px;
    .section__detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        height: 30px;
      }
      .detail__title {
        margin-top: 30px;
        margin-bottom: 20px;
      }
      .detail__description {
        max-width: 380px;
        text-align: center;
        font-size: 16px;
      }
    }
  }
  .companies {
    display: flex;
    @media (max-width: @mobile-width) {
      flex-direction: column;
    }
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    img {
      height: max-content;
    }
  }
}

#download {
  margin-bottom: 150px;
  .section__title {
    @media (max-width: @mobile-width) {
      padding: 0px 20px;
    }
  }
  .section__description {
    @media (max-width: @mobile-width) {
      padding: 0px 34px;
    }
    max-width: 700px;
  }
}

// footer
.footer {
  background-color: #colors[light-gray];
  display: flex;
  @media (max-width: @mobile-width) {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 150px;
  .footer__logo {
    img {
      width: 52px;
    }
  }
  .footer__link {
    &:hover {
      cursor: pointer;
      color: #colors[primary];
    }
  }
  .footer__navigation {
    color: #colors[dark-gray];
  }
  .footer__socialicons {
    @media (max-width: @mobile-width) {
      display: flex;
      flex-direction: row;
      gap: 50px;
    }
    height: 25px;
    gap: 20px;
    &:hover {
      cursor: pointer;
    }
  }
  @media (max-width: @mobile-width) {
    .footer__navigation-column {
      display: flex;
      flex-direction: row;
    }
    .footer__navigation-row {
      display: none;
    }
  }
  @media (min-width: @mobile-width) and (max-width: @tablet-width) {
    padding: 50px 100px;
    .footer__navigation-column {
      flex-direction: column;
      margin-right: 0;
    }
    .footer__navigation-row {
      display: none;
    }
    .footer__link {
      margin-bottom: 20px;
    }
    .footer__socialicons {
      display: flex;
      justify-content: center;
    }
  }
  @media (min-width: @tablet-width) {
    .footer__navigation-column {
      display: none;
    }
    .footer__navigation-row {
      display: flex;
      flex-direction: row;
      gap: 50px;
      margin: 0px 50px;
    }
    .footer__links-group {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .footer__socialicons {
      display: flex;
      flex-direction: row;
    }
  }
  @media (min-width: @desktop-width) {
    .footer__navigation-column {
      display: none;
    }
    .footer__navigation-row {
      display: flex;
      flex-direction: row;
      gap: 100px;
      margin: 0px 20px;
      margin-right: 200px;
    }
    .footer__links-group {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .footer__socialicons {
      display: flex;
      flex-direction: row;
    }
  }
}
